body{
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 30px;
    color: black;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 80%;
    padding-left: 5%;
}
.half-width{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
